<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
    <title>{{title}}</title>
</head>
<body>
    <nav>
        <ul id="user-account">
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>   
        <ul id="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">All Posts</a></li>
            <li><a href="/new-post">New Post</a></li>
        </ul> 
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
<footer>
    {% block footer %}
        <p>&copy; 2018 SungHyun Park</p>
    {% endblock %}
</footer>
</html>