<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>{{title}}</title>
</head>
<body> 
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Home</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/blog">All Posts</a></li>
                    <li><a href="/new-post">New Post</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if not session['username'] %}
                    <li><a href="/login">Login</a></li>
                    {% endif %}
                    {% if session['username'] %}
                    <li><a href="/logout">Logout</a></li>
                    {% else %}
                    <li><a href="/signup">Register</a></li>
                    {% endif %}
                </ul>
            </div> 
        </nav>
    <div class="container">
    <div class="row">
    {% with messages = get_flashed_messages(category_filter=["main_flash"]) %}
    {% if messages %}
    {% for message in messages %}
    <h2 class="text-info">{{message}}</h2>
    {% endfor %}{% endif %}{% endwith %}
    </div>
    <div class="row">
        {% block content %}{% endblock %}
    </div>
</body>
<footer class="container text-center">
    {% block footer %}
        <p>&copy; 2019 SungHyun Park</p>
    {% endblock %}
</footer>
</div>
</div>
</html>