{% extends "base.html" %}

{% block content %}
    <div class="centered">
        <h1>{{title_page}}</h1>
    </div>
    {% if post_num %}
        <blockquote>
            <p>{{post.body}}</p>
            <footer>written by <a href="/blog?user={{post.owner_id}}">{{post.owner.username}}</a></footer>
        </blockquote>
        <hr>
    {% else %}
    {% if posts.items|length == 0 %}
    <p>No Posts Yet</p>
    {% else %}
        {% for post in posts.items %}
        <blockquote>
            <a href="/blog?id={{post.id}}">{{post.title}}</a>
            <p>{{post.body}}</p>
            <footer>written by <a href="/blog?user={{post.owner_id}}">{{post.owner.username}}</a></footer>
        </blockquote>
        <hr>
        {% endfor %}
    {% endif %}
    {% endif %}
    <ul class="pagination">
        {% if not post_num %}
            {% for page in posts.iter_pages() %}
                {% if page %}
                    {% if user %}
                        <li><a href="/blog?user={{user}}&page={{page}}">{{page}}</a></li>
                    {% else %}
                        <li><a href="/blog?page={{page}}">{{page}}</a></li>
                    {% endif %}
                    {% else %}
                    <li class="ellipsis">...</li>
                {% endif %}
            {% endfor %}    
        {% endif %}
    </ul>
{% endblock %}
