{% extends "base.html" %}

{% block content %}
    <div class="centered">
        <h1>{{title_page}}</h1>
    </div>
    {% if post_num %}
        {% for post in posts %}
        <section>
            <p>{{post.body}}</p>
        </section>
        <hr>
        {% endfor %}
    {% else %}
    {% if posts|length == 0 %}
    <p>No Posts Yet</p>
    {% else %}
        {% for post in posts %}
        <section>
            <a href="/blog?id={{post.id}}">{{post.title}}</a>
            <p>{{post.body}}</p>
        </section>
        <hr>
        {% endfor %}
    {% endif %}
    {% endif %}
{% endblock %}
