{% extends "base.html" %}

{% block head %}
<title>Sign Up</title>
{% endblock head %}


{% block content %}

<h1>Sign Up</h1>
<form action="/signup" method="POST">
    <table>
            <tr>
                <td><label for="user-name_id">Username:</label></td>
                <td><input id="user-name_id" type="text" name="username_name" value="{{username_value}}" /></td>
                <td>
                    {% with messages = get_flashed_messages(category_filter=["username_error"]) %}
                    {% if messages %}
                    <ul class="text-danger">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}{% endif %}{% endwith %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td><label for="password_id">Password:</label></td>
                <td><input id="password_id" type="password" name="password_name" value=""/></td>
                <td>    
                    {% with messages = get_flashed_messages(category_filter=["password_error"]) %}
                    {% if messages %}
                    <ul class="text-danger">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}{% endif %}{% endwith %}
                    </ul>
                </td>
            </tr>
            <tr>
                    <td><label for="v-password_id">Verify Password:</label></td>
                    <td><input id="v-password_id" type="password" name="v_password_name" value=""/></td>
                    <td>    
                        {% with messages = get_flashed_messages(category_filter=["v_password_error"]) %}
                        {% if messages %}
                        <ul class="text-danger">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}{% endif %}{% endwith %}
                        </ul>
                    </td>
                </tr>
        </table>
    <input type="submit" value="Submit" />
</form>

{% endblock content %}