main,
footer {
    background-color: white;
}

body {
    background-color:lightgray;
    width: 100%;
    max-width: 1024px;
    font-size: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Sacramento', cursive;
}

footer {
    text-align: center;
    font-style: italic;
    padding: 36;
    font-size: 75%;
}

.centered {
    margin: 0 auto;
    text-align: center;
    width: 800px;
}

.error {
    color:red;
    font-style: italic;
}

.class {
    font-size: 32pt;     
}

h1 {
    text-shadow: 3px 1px gray;
    font-size: 250%;
}

a {
    font-size: 150%;
}

p {
    font-size: 120%;
}